*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height:100%;
    width:100%;
    /* background-color: #111111; */
    font-family: monument;
    /* overflow-y: hidden; */
}

body::-webkit-scrollbar{
    width:8px;
    height: 4px;
    background-color: rgb(218, 218, 218);
}

body::-webkit-scrollbar-thumb{
    background-color: #FF4655;
}

#main{
    width:100%;
    /* height:100%; */
    padding-top: 0.1px;
    /* background-color: red; */
}

nav{
    width:100%;
    height:8vh;
    margin-top: 2vh;
    border-top: 0.5px solid #FF4655;
    border-bottom: .5px solid #FF4655;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: white; */
}

.title{
    position: relative;
    display: flex;
    padding: 1vw;
    align-items: center;
    justify-content:center;
}

.title h1{
    letter-spacing: 2px;
}

.title img{
    width:1.7vw;
    height:3vh;
    margin-right: 0.5vw;
}

.menubar{
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
    
}


.menubar h2{
    padding:1vw;
    height: 100%;
    font-size: 2.2vh;
    font-weight: 500;
    border-left: 1px solid #FF4655;
}

.menubar h2:hover{
    color:#FF4655;
    cursor: pointer;
   
}

.center{
    width:100%;
    position: relative;
    height:78%;
    /* background-color:#FF4655; */
    padding: 2vw 1vw;
}

.center video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .3vw;
}

.center-top{
    position: absolute;
    top:75%;
    font-size: 2vw;
    width: calc(100% - 2vw);
    padding: 1vw;
    backdrop-filter: blur(1px);
}

.center-top p{
    margin-left: 1vw;
    font-weight: 550;
    color: white;
}

.center-top p:nth-last-child(1){
    color:#FF4655;
}


.center-bottom{
    position: absolute;
    top:76%;
    left:85%;
    padding: 1vw;
    backdrop-filter: blur(1px);
   
}

button{
    padding: 0.5vw;
    border-radius: 10px;
    font-size: 1vw;
    width:7vw;
    height: 3vw;
    font-weight: 600;
    background-color: #FF4655;
    color: white;
    border: none;
}

button:hover{
    cursor: pointer;
    background-color: crimson;
}

.center-page{
    width:100%;
    height:40vh;
}

.scroll{
    height:40vh;
    width:100%;
    white-space:nowrap;
    padding:1vw;
    /* background-color: red; */
    overflow-x: hidden;
    overflow-y: hidden;
    border-bottom: 5px solid black;
}

.scroll img{
    /* display: none; */
    height:40%;
    width:8%;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0% -20%;
    margin: 1vh 0.3vw;
    /* border-right:2px solid black; */
}

.agents{
    position: absolute;
    top:130%;
    left:2.5vw;
    font-weight:600 ;
    letter-spacing: .1vw;
    color: #FF4655;
    text-transform: uppercase;

}

.agent-info{
    position: absolute;
    top:134%;
    /* color: white; */
    padding-left: 1.5vw;
    font-weight: 100;
    letter-spacing: .1vw;
    line-height: 1.4vw;
}

.logo-png{
    width:10px;
    height:10px;
    position: absolute;
    top:10%;
}

.container{
    height:100%;
    width:100%;
    /* background-color: yellowgreen; */
    display: inline-block;
    animation-name: scrollanimation;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
   
}


.valo-img{
    position: absolute;
    width:100px;
    height:100px;
    top:133%;
    left:79%;
    background-image: url(./assets/toppng.com-valorant-logo-icon-3200x1796.png);
    background-size: cover;
    background-position: 50% 50%;
}

.game-info-title{
    width:100%;
    /* background-color: aqua; */
    font-size: 5vw;
    padding: 1vw 1.5vw;
    color: #FF4655;
    border-bottom: 1px solid black;
    position: relative;
    letter-spacing: .4vw;
}

.game-info-section{
    width:100%;
    height:100%;
    padding:2vw;
    /* color: white; */
    letter-spacing: .1vw;
    border-bottom: 5px solid black;
}

.game-info-section .p-left{
    text-align: left;
    line-height: 1.4vw;
    margin-bottom: 2vw;
}

.p-right{
    text-align: left;
    line-height: 1.3vw;
}


.round-text{
    position: absolute;
    top:218%;
    height: 300px;
    width: 300px;
    left: 76%;
    border-radius: 50%;
    mix-blend-mode:multiply;
    object-position: 50% 50%;
    animation-name: rotate360;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#media{
    width: 100%;
    height: 100%;
    padding:1.5vw;
    border-bottom:5px solid black;

}

#media h1{
    font-size: 5vw;
    padding: 1vw 1.5vw;
    color: #FF4655;
    /* text-transform: uppercase; */
    /* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black; */
}

#media-files{
    width:100%;
    height:100%;
    /* background-color: green; */
    padding-left: 5vw;
    padding-top: 2vw;
    padding-bottom: 3vw;
    position: relative;
    display: grid;
  grid-template-columns: auto auto auto;
  /* grid-template-rows: auto auto auto; */
}   

.wall{
    /* border: 1px solid black; */
    width: 400px;
    height:400px;
    position: relative;
    /* margin:0 2vw 2vw 0; */
    margin-bottom: 2vw;
    /* background-color: #FF4655; */
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 6px 4px 2px #FF4655;
}

.wall video{
    width:100%;
    height: 100%;
    object-fit:cover;
    /* display: none; */
}

.overlay{
    width:400px;
    height:400px;    
    position: absolute;
    animation-name: overlayinit;
    animation-duration: 1s;
}

.overlay1{
    background-image: url(./assets/hover/raze.jpg);
    background-size: cover;
}

.overlay2{
    background-image: url(./assets/hover/reyna.jpg);
    background-size: cover;
}

.overlay3{
    background-image: url(./assets/hover/jett.jpg);
    background-size: cover;
}

.overlay4{
    background-image: url(./assets/hover/sage.jpg);
    background-size: cover;
}

.overlay5{
    background-image: url(./assets/hover/kj.jpg);
    background-size: cover;
}

.overlay6{
    background-image: url(./assets/hover/deadlock.jpg);
    background-size: cover;
}

.overlay7{
    background-image: url(./assets/hover/fade.jpg);
    background-size: cover;
}
.overlay8{
    background-image: url(./assets/hover/neon.jpg);
    background-size: cover;
}
.overlay9{
    background-image: url(./assets/hover/astra.jpg);
    background-size: cover;
}

.wall:hover{
    cursor: pointer;
   
    .overlay{
        animation-name: overlayhide;
        animation-duration: .5s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
}

.wall1 video{
animation-play-state: paused;
}


@keyframes scrollanimation {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

@keyframes rotate360{

    from{
        rotate: 0;
    }
    to{
        rotate:360deg;
    }
}

@keyframes overlayhide {
    from{
        transform: translateX(0%);
    }
    to {transform:translateX(-100%)
    }
}

@keyframes overlayinit {
    from{
        transform: translateX(-100%);
        
    }
    to {transform:translateX(0%);
    }
}
